<launch>
    <arg name="launch_folder_path" value="$(find data_plot)"/>
    <param name="rosbag_path_dir" value="$(arg launch_folder_path)/rosbag"/>
    <param name="img_path_dir" value="$(arg launch_folder_path)/img"/>
    <param name="rosbag_name" value="2023-07-26-14-43-53.bag"/>
    <node pkg="data_plot" type="one_float.py" name="data_plot" output="screen"/>
</launch>
